.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 1.2rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 0.5rem);
        overflow-y: auto;
    }
}
.sidebar {
    width: 190px;
    min-width: 180px;
    height: 100vh;
    background-color: #343a40;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo-img {
    max-width: 150px;
    height: auto;
}

.e-treeview .e-list-item {
    color: #fff;
}

.e-treeview .e-list-item:hover {
    background-color: #495057;
}

.e-treeview .e-icon-expandable,
.e-treeview .e-icon-collapsible {
    color: #fff;
}



