@inject IUserService UserService
@inject AuthenticationStateProvider AuthStateProvider
@implements IDisposable

<div class="@NavMenuCssClass nav-scrollable" style="background: linear-gradient(to bottom, rgb(186, 12, 47), rgb(93, 6, 23));">
    <nav class="flex-column">
        <div class="logo" >
            <img src="images/CHAPIN LOGO REVERSED.png" alt="Chapin International" class="logo-img" />
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PCFs">
                <span class="oi oi-list" aria-hidden="true"></span>PCF Log
            </NavLink>
        </div>
        
        @if (IsAdmin)
        {

	      
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="price-increase-tool">
                    <span class="oi oi-document" aria-hidden="true"></span> Price Incr Tool
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="pcf-detail-report">
                    <span class="oi oi-document" aria-hidden="true"></span> Detail Report
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/role-management">
                    <span class="oi oi-people" aria-hidden="true"></span>Users
                </NavLink>
            </div>
        }

        @if (UserService != null && !string.IsNullOrEmpty(UserService.UserName) &&
        UserService.UserName.Equals("willit2", StringComparison.OrdinalIgnoreCase))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="pricinglookup">
                    <span class="oi oi-people" aria-hidden="true"></span>Price Lookup
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="DataTest">
                    <span class="oi oi-people" aria-hidden="true"></span>Data Test
                </NavLink>
            </div>

            <div class="nav-item px-3">
	            <NavLink class="nav-link" href="/ssrstest/2024-01-01/2024-12-31">
		            <span class="oi oi-document" aria-hidden="true"></span> SSRS Report
	            </NavLink>
            </div>
           
        }


    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private bool IsAdmin { get; set; }

    protected override async Task OnInitializedAsync()
    {

        IsAdmin = UserService.IsUserInRole("Administrator");

    }

    public void Dispose()
    {
        // Unsubscribe from events if needed
    }
}