@inherits LayoutComponentBase
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Env
@inject IUserService UserService
@inject IConfiguration Configuration

<PageTitle>PCF Manager</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @{
            string dbName = Configuration["DBNames:PCFDB"]?.ToLower() ?? "";
            string environmentText = dbName == "custinfo" ? "Environment: Production" : "Environment: Development and Test";
        }
        <div class="top-row px-4 d-flex justify-content-between align-items-center">
            <div style="color: red;">@environmentText</div>
            <div style="color: green; text-align: right;">@UserService.UserRole @UserService.UserName </div>
        </div>


        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>