<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\PcfManager.dll"
                stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <!-- <environmentVariable name="SMTPPassword" value="D,&#36;k3brpg8qrJ;&#59;_~" /> -->
      </environmentVariables>
    </aspNetCore>
  </system.webServer>

  <system.net>
    <mailSettings>
      <smtp from="sales-ops@chapinmfg.com">
        <network host="ciiexch16"
                 userName="Administrator"
                 password="D,$k3brpg8qrJ;_~"
                 defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>