<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Remove the HTTPS Redirect rule from the base web.config -->
        <rule name="HTTPS Redirect" xdt:Locator="Match(name)" xdt:Transform="Remove" />
      </rules>
    </rewrite>
  </system.webServer>
</configuration>